.carousel-item img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    
}
#carouselExampleDark{
    height: 40vh !important;
}
.carousel-control-prev ,.carousel-control-next{
    bottom:50%;
    width: 50px;
    margin-left: 2%; 


}
.carousel-indicators button{
    height:2.0rem !important;
    position: relative;
    border-radius: 50%;
    transform: scale(0.5); 
    border: 1px solid black !important;
}
.navbar {
 z-index: 2;
}
